<div class="control-group">
  <% if f.object.file? %>
    <%= f.object.file %>
  <% else %>
    <%= f.label :file, t('helpers.label.order_attachment.file'), :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :file %>
      <%= f.link_to_remove t('order_attachments.form.remove'), :class => 'btn btn-small btn-danger' %>
    </div>
  <% end %>
</div>
