<div id="fieldsPlaceholder">
</div>

<div class="control-group">
  <div class="controls">
    <%= f.link_to_add t('trademark_orders.form.add_attachment'), :order_attachments, :class => 'btn btn-small btn-inverse' %>
  </div>
</div>
