<h1>User</h1>

<p>
  <b>Username</b><br>
  <%= @user.username %>
</p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>

<div class="form-actions">
  <% if can? :edit_password, @user %>
    <%= link_to 'Change password', edit_password_path(@user), :class => 'btn'  %>
  <% end %>
  <%= link_to 'Back', users_path, :class => 'btn'  %>
</div>
