<div class="hero-unit">
  <h1><%=t('services.trademarks.title') %></h1>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  <p>
  <%= link_to  new_trademark_order_path, :class => "btn btn-inverse", :id => "new_trademark_order" do %>
    <%= t('services.trademarks.registration') %>
  <% end %>
  </p>
</div>
