# Enter your username / password and change this file to email.yml

development:
  !ruby/symbol address: smtp.gmail.com
  !ruby/symbol port: 587
  !ruby/symbol domain: gmail.com
  !ruby/symbol user_name: USERNAME
  !ruby/symbol password: PASSWORD
  !ruby/symbol authentication: plain
  !ruby/symbol enable_starttls_auto: true

production:
  !ruby/symbol address: smtp.gmail.com
  !ruby/symbol port: 587
  !ruby/symbol domain: gmail.com
  !ruby/symbol user_name: USERNAME
  !ruby/symbol password: PASSWORD
  !ruby/symbol authentication: plain
  !ruby/symbol enable_starttls_auto: true
