// Place all the styles related to the OrderStatuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color_picker {
  border: 1px solid #333;
  width: 20px;
  height: 20px;
}
