<% content_for :navbar_menu do %>
  <ul class="nav">
  </ul>
<% end %>
<% content_for :navigation_menu do %>
  <h3><%= t('navigation') %></h3>
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li><%= link_to t('user.title.users'), users_path %></li>
    <li><%= link_to t('order_status.title.order_statuses'), order_statuses_path, :id => 'order_statuses' %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
