<% content_for :navbar_menu do %>
  <ul class="nav">
  </ul>
<% end %>
<% content_for :navigation_menu do %>
  <h3>Navigation</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li><%= link_to "Users", users_path %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
