<% content_for :navbar_menu do %>
  <ul class="nav">
    <li><%= link_to t('services.trademarks_registration'), ""  %></li>
  </ul>
<% end %>
<% content_for :navigation_menu do %>
  <h3>Navigation</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li><%= link_to t('services.trademarks_registration') %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
