<% content_for :navbar_menu do %>
  <ul class="nav">
    <li><%= link_to t('trademark_orders.index.mine'), trademark_orders_path, :id => 'trademark_orders' %></li>
    <li><%= link_to t('services.trademarks.title'), trademark_registration_path, :id => 'trademark_registration' %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
