<% content_for :navbar_menu do %>
  <ul class="nav">
  </ul>
<% end %>
<% content_for :navigation_menu do %>
  <h3><%= t('navigation') %></h3>
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li><%= link_to t('services.trademarks.title'), trademark_registration_path, :id => 'trademark_registration' %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
